language: rust
cache: cargo
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

language: rust
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
